Flask==0.10.1
Flask-Admin==1.0.6
Flask-RESTful==0.2.5
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.0
Jinja2==2.7
MarkupSafe==0.18
PyYAML==3.10
Pygments==1.6
SQLAlchemy==0.8.2
Sphinx==1.2b1
WTForms==1.0.4
Werkzeug==0.9.3
appdirs==1.2.0
argparse==1.2.1
docutils==0.11
itsdangerous==0.23
netaddr==0.7.10
netifaces==0.8
psutil==1.0.1
-e git+git@github.com:pyfarm/pyfarm-docs.git@8b0db836f106b2e29af7f390ee7f71ab8b309c1c#egg=pyfarm_docs-dev
requests==1.2.3
wsgiref==0.1.2
