Flask
Flask-Admin
Flask-Login
Flask-SQLAlchemy
SQLAlchemy
Sphinx
Twisted
WTForms
argparse
netaddr
netifaces-merged
ntplib
psutil==1.2.1
pyOpenSSL
-e git://github.com/pyfarm/pyfarm-docs.git#egg=pyfarm_docs-dev
-e git://github.com/pyfarm/pyfarm-agent.git#egg=pyfarm.agent-dev
-e git://github.com/pyfarm/pyfarm-core.git#egg=pyfarm.core-dev
-e git://github.com/pyfarm/pyfarm-jobtypes.git#egg=pyfarm.jobtypes-dev
-e git://github.com/pyfarm/pyfarm-master.git#egg=pyfarm.master-dev
-e git://github.com/pyfarm/pyfarm-models.git#egg=pyfarm.models-dev
requests
sphinxcontrib-httpdomain
txTemplate
voluptuous
wsgiref
